In [4]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
import time

In [2]:
# create dataframe suitable for data logging
df = pd.DataFrame()

In [5]:
time.time()

1553019024.684313

In [10]:
ep_stats = {
    'epoch': 0,
    'iteration': 1000,
    'sample_iteration': 10000,
    'start_time': time.time() - 10000,
    'end_time': time.time() - 10000,
    'train_loss': 10.46,
    'valid_loss': 9.92,
    'train_f1': 0.45,
    'valid_f1': 0.244,
    'valid_accuracy': 0.945,
    'duration': 4.8,
    'current_lr': 0.9
}
df = df.append(ep_stats, ignore_index=True)

In [11]:
df

,current_lr,duration,end_time,epoch,iteration,sample_iteration,start_time,train_f1,train_loss,valid_accuracy,valid_f1,valid_loss
0,0.9,4.8,1.553023e+09,0.0,1000.0,10000.0,1.553023e+09,0.45,10.46,0.945,0.244,9.92

In [12]:
ep_stats = {
    'epoch': 1,
    'iteration': 1000,
    'sample_iteration': 10000,
    'start_time': time.time() - 10000,
    'end_time': time.time() - 10000,
    'train_loss': 10.46,
    'valid_loss': 9.92,
    'train_f1': 0.45,
    'valid_f1': 0.244,
    'valid_accuracy': 0.945,
    'duration': 4.8,
    'current_lr': 0.9
}
df = df.append(ep_stats, ignore_index=True)

In [13]:
df

,current_lr,duration,end_time,epoch,iteration,sample_iteration,start_time,train_f1,train_loss,valid_accuracy,valid_f1,valid_loss
0,0.9,4.8,1.553023e+09,0.0,1000.0,10000.0,1.553023e+09,0.45,10.46,0.945,0.244,9.92
1,0.9,4.8,1.553023e+09,1.0,1000.0,10000.0,1.553023e+09,0.45,10.46,0.945,0.244,9.92

In [14]:
ep_stats = {
    'epoch': 0,
    'iteration': 1000,
    'sample_iteration': 10000,
    'start_time': time.time() - 10000,
    'end_time': time.time() - 10000,
    'train_loss': 10.46,
    'valid_loss': 9.92,
    'train_f1': 0.45,
    'valid_f1': 0.244,
    'valid_accuracy': 0.945,
    'duration': 4.8
}
df = df.append(ep_stats, ignore_index=True)

In [15]:
df

,current_lr,duration,end_time,epoch,iteration,sample_iteration,start_time,train_f1,train_loss,valid_accuracy,valid_f1,valid_loss
0,0.9,4.8,1.553023e+09,0.0,1000.0,10000.0,1.553023e+09,0.45,10.46,0.945,0.244,9.92
1,0.9,4.8,1.553023e+09,1.0,1000.0,10000.0,1.553023e+09,0.45,10.46,0.945,0.244,9.92
2,NaN,4.8,1.553023e+09,0.0,1000.0,10000.0,1.553023e+09,0.45,10.46,0.945,0.244,9.92